* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background: #f5f5f5;
    position: relative; 
    min-height: 100vh;
}


header {
    width: 100%;
    background: #d72600;
    padding: 20px 0;
    text-align: center;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 20;
}

header h1 {
    color: white;
    font-size: 2rem;
}


.logo {
    width: 55px;
    position: absolute; 
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}


nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1rem;
}

.ativo {
    font-weight: bold;
    text-decoration: underline;
}


.banner {
    width: 100%;
    height: 140px;
}


.container {
    width: 100%;
    max-width: 900px;
    margin: 180px auto 40px auto;
    padding: 20px;

    display: flex;        
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container h2 {
    font-size: 2rem;
    color: #d72600;
    margin-bottom: 20px;
}

.container p {
    background: white;
    border: 2px solid #d72600;
    padding: 20px;
    border-radius: 12px;
    line-height: 1.5;
    font-size: 1.1rem;
    max-width: 900px;
    margin-bottom: 30px;
}


.cards {
    width: 100%;
    display: flex;        
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 260px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #d72600;
    text-align: center;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card h3 {
    color: #d72600;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.95rem;
}