* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background:white;
    position: relative; 
    min-height: 100vh;
}


header {
    width: 100%;
    background: #d72600;
    padding: 20px;
    text-align: center;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;
}

header h1 {
    color: white;
    font-size: 2rem;
}

.logo {
    width: 55px;
    position: absolute; 
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}


.container {
    width: 100%;
    max-width: 900px;
    margin: 140px auto 40px auto;
    padding: 20px;

    display: flex;           
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container h2 {
    font-size: 2rem;
    color: #d72600;
    margin-bottom: 20px;
}


.texto {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #d72600;
    font-size: 1.1rem;
    max-width: 800px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.sub {
    font-size: 1.2rem;
    color: #d72600;
    margin-bottom: 20px;
}


.cards {
    width: 100%;
    max-width: 400px;

    display: flex;            
    flex-direction: column;
    gap: 12px;
}

.card {
    background: #d72600;
    color: white;
    padding: 14px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1rem;
    text-align: center;
    border: 2px solid #a81e00;
}