* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    position: relative; 
}

header {
    background: #d72600;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: fixed; 
    top: 0;
    z-index: 30;
}

header h1 {
    color: white;
    font-size: 2rem;
}

.logo {
    width: 55px;
    position: absolute; 
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.fundo {
    width: 100%;
    height: 100vh;
    background-image: url("./images/cadastro-login.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -1;
}

.box {
    width: 330px;
    background: white;
    padding: 30px;
    border-radius: 14px;
    position: absolute; 
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #d72600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box h2 {
    margin-bottom: 20px;
    color: #d72600;
    font-size: 1.8rem;
}

.box form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.box input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 1rem;
    width: 100%;
}

.btn {
    background: #d72600;
    color: white;
    padding: 12px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.cad-link {
    margin-top: 12px;
    font-size: 0.95rem;
}

.cad-link a {
    color: #d72600;
    text-decoration: none;
    font-weight: bold;
}