* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    min-height: 100vh;
    position: relative;
}


header {
    width: 100%;
    background: #d72600;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 20;
}

header h1 {
    color: white;
    font-size: 2rem;
}

.logo {
    width: 55px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}


nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1rem;
}

.ativo {
    font-weight: bold;
    text-decoration: underline;
}

.banner {
    height: 140px;
}


.container {
    max-width: 900px;
    margin: 180px auto 40px auto;
    padding: 20px;
    text-align: center;
}

.container h2 {
    color: #d72600;
    font-size: 2rem;
    margin-bottom: 20px;
}


.quiz-box {
    width: 100%;
    background: white;
    border: 2px solid #d72600;
    border-radius: 12px;
    padding: 25px;
    text-align: left;
}

.titulo-lista {
    color: #d72600;
    font-size: 1.5rem;
    margin: 20px 0 10px;
}

.lista {
    list-style: none;
    margin-bottom: 20px;
}

.lista li {
    background: #ffe7e2;
    border: 1px solid #d72600;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}


summary {
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: bold;
}

details p {
    margin-top: 8px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d72600;
}