* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: #b30000;
    color: white;
    text-align: center;
    font-size: 22px;
    z-index: 10;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("./images/index.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    position: relative;
}


.titulo-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: white;
}

.titulo-box h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.titulo-box p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background: white;
    color: #b30000;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}